[Desktop Entry]
Name=Triangles Qt
Comment=The GUI version of the Triangles wallet.
Exec=Triangles-qt
Icon=Triangles
Type=Application
Keywords=wallet,crypto,tor,
Categories=Utility;
